.about{

    margin: 75px 0px 75px 0px;
    padding: 75px 0px 75px 0px;

    .aboutIntro {

        .aboutName {
            border-bottom: 4px solid $lightBlue;
        }
    }
    
    .aboutText {

        margin: 50px 0px;
    }
    
    .interests {

        .icons {
            display: flex;
            justify-content: space-between;
            margin: 50px 0px;
        }

        li  {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;

            i {
                @include fontSize(35);
                margin-bottom: 15px;

            }

        }
    }
}