.contact {
    .flexContainer {
        display: flex;
        justify-content: space-around;
        // text-align: center;

        .contactText {
            width: 33%;
        }            
        
        .contactInfo, .links {
            margin: 0px 60px;
            }

        li {

            margin: 10px 0px;
            
            
            a {
                padding: 10px 0px;
            }
        }
        
        i {
            margin: 5px 10px 5px 0px;
            font-size: 30px;
        }
    }


}