nav {

    text-transform: uppercase;
    border-bottom: 1px solid grey;

    .flexContainer {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        align-items: center;

    }
    
    .navLinks {
        
        a {
            margin: 0 10px;
            padding: 10px;
            text-decoration: none;
            position: relative;
        }
    }

    .socials {

        a{
            margin: 0 5px;
            padding: 5px;
        }
    }
}