.portfolio {

    padding: 75px 0px;

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .project {
        margin: 20px;
        width: 40%;

        img {
            width: 100%;
        }
    }
}







