.skills {

    background-color: $lightGrey;
    padding: 75px 0px;

    .topRow, .bottomRow {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 65px;

        h3 {
            margin: 0px;
        }

        .skillBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            margin: 0px 5px;
            padding: 20px;
            border: 0.5px solid $blue;
            transition: all 0.2s ease-in-out;



            &:hover, &:focus {
                box-shadow: 15px 15px 0px $blue;

                .html {
                    color: #f06529
                }

                .css {
                    color: #2965f1
                }

                .js {
                    color: #f0db4f
                }

                .sass {
                    color: #cc6699
                }

                .react {
                    color: #61DBFB
                }

                .team {
                    color:#006e25
                }

            }

            i{
                font-size: 50px;
                margin-bottom: 15px;
            }

            .team {
                padding-top: 20px; //slight position issue with icon
            }
        }

    }

}