html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #212529;
}

.header .textContainer {
  text-align: center;
}
.header .textContainer h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #FFF;
  font-size: 60px;
  font-size: 3rem;
  text-transform: uppercase;
}
.header .textContainer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFF;
}

nav p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #252f43;
  font-size: 25px;
  font-size: 1.25rem;
}
nav .navLinks a {
  font-size: 18px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #252f43;
}
nav .socials a {
  color: #252f43;
}

.sectionHeader h2 {
  font-size: 50px;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #252f43;
}

.about .aboutIntro {
  font-size: 30px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #252f43;
}
.about .aboutIntro .aboutName {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #252f43;
}
.about .interests {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #252f43;
}

.skills h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #252f43;
}

.portfolio .gallery {
  text-align: center;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-y: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionHeader h2 {
  margin: 20px 0px;
}

.sectionTitle {
  display: inline;
  background-color: #252f43;
  color: white;
  padding: 4px 10px 2.5px 10px;
  margin: 0px;
}

.header {
  background-color: #252f43;
  height: 101vh;
}
.header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .imageContainer {
  margin-top: 7.5%;
  width: 30%;
}
.header .imageContainer img {
  border-radius: 50%;
  border: 10px solid #FFF;
  width: 100%;
}
.header button {
  padding: 15px 20px;
  margin-top: 25px;
  border: none;
}

nav {
  text-transform: uppercase;
  border-bottom: 1px solid grey;
}
nav .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navLinks a {
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  position: relative;
}
nav .socials a {
  margin: 0 5px;
  padding: 5px;
}

.about {
  margin: 125px 0px 75px 0px;
}
.about .aboutIntro .aboutName {
  border-bottom: 4px solid #45569f;
}
.about .aboutText {
  margin-bottom: 50px;
}
.about .interests .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .interests li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 20%;
}
.about .interests li i {
  font-size: 35px;
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.skills {
  background-color: #f8f9fa;
  padding: 75px 0px;
}
.skills .topRow, .skills .bottomRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 65px;
}
.skills .topRow h3, .skills .bottomRow h3 {
  margin: 0px;
}
.skills .topRow .skillBox, .skills .bottomRow .skillBox {
  width: 20%;
}
.skills .topRow i, .skills .bottomRow i {
  font-size: 50px;
  margin-bottom: 15px;
}

.portfolio {
  padding: 75px 0px;
}
.portfolio .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .project {
  margin: 20px;
  width: 40%;
}
.portfolio .project img {
  width: 100%;
}